@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<LibraryCRUD.Models.Entities.Library>
<h1>List of Books taken</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Username</th>
            <th>Phone No</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var library in Model)
        {
         <tr>
             <td>@library.BookId</td>
             <td>@library.Title</td>
             <td>@library.Author</td>
             <td>@library.UserName</td>
             <td>@library.Phone</td>
             <td>
                 <a>Edit</a>
             </td>
         </tr>   
        }
    </tbody>

</table>